<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change Password</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style4.css') }}">
  </head>
  <body>
    <div class="heading">
      <h2>Web Assistant</h2>
    </div>
    <div class="formbody">
    <fieldset class="field">
      <legend>Change Password</legend>
    <form  action="http:\\localhost:5000/change" method="post">
      <table>
        <tr>
          <td><label for="user">Username</label></td>
          <td><input type="text" name="user" title="Enter your user name" autofocus required></td>
        </tr>
        <tr>
          <td><label for="email">Email ID</label></td>
          <td><input type="email" name="email" title="Enter your email id" required></td>
        </tr>
        <tr>
          <td><label for="newpass">New Password</label></td>
          <td><input type="password" name="newpass" title="Enter your new password which contain atleast 8 and maximum 20 letters." pattern="[0-9a-zA-Z_]{8-20}" required></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" name="submit" value="Change"></td>
        </tr>
    </table>
    </form>
    </fieldset>
  </div>
  <div class="footer">

  </div>
  </body>
</html>
