<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web Assistant</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div id="heading">
      <h2>WEB ASSISTANT</h2>
    </div>
    <div class="left">
      <fieldset class="field">
        <legend>What is web assistant?</legend>
        <p>It is a software agent that can perform tasks or services for an individual based on commands or questions. Sometimes the term "chatbot" is used to refer to virtual assistants generally or specifically accessed by online chat.</p>
      </fieldset>
    </div>
    <div class="right">
      <fieldset class="field">
        <legend>Functions</legend>
        <ul>
          <li>Goole Search</li>
          <li>Wikipedia Search</li>
          <li>Video Search</li>
          <li>Simple Calculations</li>
          <li>Current Affairs</li>
          <li>Academic Search</li>
          <li>Read the text from paperclip</li>
          <li>Mute the listening</li>
        </ul>
      </fieldset>
    </div>
    <div id="formbody">
    <form>
    <a href="http:\\localhost:5000/newlogin" title="click to log in"><span class="logsign">Log In</span</a>
    <br>
    <a href="http:\\localhost:5000\newsignin" title="click to register/signup"><span class="logsign">Sign Up</span></a>
  </form>
</div>
<div class="footer">

</div>
  </body>
</html>
